@charset "utf-8";
 // variables
 // **[중요 -- 되도록이면 수치(기본값)을 변경하지 말아주세요]**

/*Common - PC*/
$g-color : #1e3932; //main point color
$g-font-color : #121212; //main font color
$g-padding : 15px;
$g-font-size : 14px;

/*MOBILE*/
$m-font-size : 12px;