@charset "UTF-8";

.navbar{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 100%;
 

  ul {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
    li{
      cursor: pointer;
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 20px;
      box-sizing: border-box;
      background-color: transparent;
      transition: all 0.3s linear;
      &.now , &:hover{
        background-color: rgba(255,255,255,1);
        text-shadow:0px 0px 1px;
        color: $g-color;
      }
      &.login{
        font-size: rem(20px);
        padding-right: 10px;
      }
    }
  }
}