/********
  Common
 ********/

*{
  margin:0;
  padding: 0;
  outline: none;
  line-height: 1;
  list-style: none;
  text-decoration: none;
}
body,html{
  font-size: 14px;
}


@import "NewsItem";
@import "NewsList";
@import "Categories";
